{{include file="header.html"}}

<body>
    <div class="container">
        <form method="post" action="update.php" class="form-horizontal" enctype="multipart/form-data">
            <fieldset>

                
                <legend>
                    <h2>調整便當內容</h2>
                </legend>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="commodityName">(必填)品名：</label>
                    <div class="col-md-4">
                        <input id="commodityName" name="commodityName" type="text" placeholder="" class="form-control input-md"
                            maxlength="20">

                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="commodityStock">存貨數量：</label>
                    <div class="col-md-1">
                        <input type="number" class="form-control stockPriceInput" id="commodityStock" name="commodityStock" min="0" maxlength="5" value="0">
                    </div>
                    
                        <label class="control-label col-md-1" for="commodityPrice">價格：</label>
                    <div class="col-md-1">
                        <input type="number" class="form-control stockPriceInput" id="commodityPrice" name="commodityPrice" min="0" maxlength="5" value="30">
                    </div>
                    

                </div>



                <div class="form-group">
                    <label class="col-md-4 control-label" for="commodityRemarks">備註：</label>
                    <div class="col-md-4">
                        <input id="commodityRemarks" name="commodityRemarks" type="text" placeholder="" class="form-control input-md"
                            maxlength="20">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="commodityPhoto">便當照片：</label>
                    <div class="col-md-4">
                        <input type='file' id="commodityPhoto" name="commodityPhoto" />
                    </div>
                </div>
                <h4>
                    <p class='text-center text-danger'>{{$NoValue}}</p>
                </h4>
                <!-- Button (Double) -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="ok"></label>
                    <div class="col-md-8">
                        <button type="submit" id="ok" name="ok" class="btn btn-success">新增</button>
                        <a href="/index.php" class="btn btn-danger">取消</a>

                    </div>
                </div>

            </fieldset>
        </form>


    </div>
    {{include file="src.html"}}
    <script src="http://localhost/bookLunch/templates/create.js" defer></script>
</body>

</html>